/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2024, 2:11:06 PM
    Author     : ANANTHU
*/
  body {
    font-family: 'Inter', sans-serif;
    background: url("../img/proddisp.jpg");
    background-size: 100% 100%;
    background-size: cover;
  background-position: center center;
      //background-repeat: no-repeat;
      //background-position: center center;
    
  }
.shop-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.shop-logo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

 table {
              border-collapse: collapse;
              margin: 0 auto;
              overflow: hidden;
              background-color: rgba(255, 255, 255, 0.7);
              border-radius: 10px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            }

            th,
            td {
              padding: 15px;
              border: 1px solid #ddd;
            }

            th {
              background-color: #4CAF50;
              color: white;
              font-weight: normal;
            }

            td img {
              height: 155px; /* increased height by 50% */
              width: 155px; /* increased width by 50% */
              object-fit: cover;
              border-radius: 50%;
            }

            a {
              color: #4CAF50;
              text-decoration: none;
              font-size: 14px;
              margin-right: 10px;
            }

            a:hover {
              text-decoration: underline;
            }

            form {
              margin-top: 30px;
            }

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}